.projects {
  min-height: 85vh;
  padding-top: 20vh;
  margin-bottom: 3em;
  padding-left: 0;
}

.project {
  padding-top: 15vh;
  h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
  .section {
    margin: auto;
  }
}

///////////////////////////////////

.planthy-card-1 {
  background-image: url('planthy/1.png');
  background-color: white;
}

.planthy-card-2 {
  background-image: url('planthy/2.png');
  background-color: white;
}

.planthy-card-3 {
  background-image: url('planthy/3.png');
  background-color: white;
}

.planthy-card-4 {
  background-image: url('planthy/4.png');
  background-color: white;
}

.planthy-card-5 {
  background-image: url('planthy/5.png');
  background-color: white;
}

//////////////////////////////////

.rezevent-card-1 {
  background-image: url('rezevent/1.png');
  background-color: #E2E2E2;
}

.rezevent-card-2 {
  background-image: url('rezevent/2.png');
  background-color: #E2E2E2;
}

.rezevent-card-3   {
  background-image: url('rezevent/3.png');
  background-color: #E2E2E2;
}

.rezevent-card-4 {
  background-image: url('rezevent/4.png');
  background-color: #E2E2E2;
}

.rezevent-card-5 {
  background-image: url('rezevent/5.png');
  background-color: #E2E2E2;
}

///////////////////////////////////////

.landing-card-1 {
  background-image: url('landing/1.png');
  background-color: #E7E7EF;
}

.landing-card-2 {
  background-image: url('landing/2.png');
  background-color: #E7E7EF;
}

.landing-card-3 {
  background-image: url('landing/3.png');
  background-color: #E7E7EF;
}

.landing-card-4 {
  background-image: url('landing/4.png');
  background-color: #E7E7EF;
}

//////////////////////////////////////

.todolist-card-1 {
  background-image: url('todolist/1.png');
  background-color: #EDE7EF;
}

.todolist-card-2 {
  background-image: url('todolist/2.png');
  background-color: #EDE7EF;
}

.todolist-card-3 {
  background-image: url('todolist/3.png');
  background-color: #EDE7EF;
}

.todolist-card-4 {
  background-image: url('todolist/4.png');
  background-color: #EDE7EF;
}

////////////////////////////////////////

.portfolio-card-1 {
  background-image: url('portfolio/1.png');
  background-color: #EEECE5;
}

.portfolio-card-2 {
  background-image: url('portfolio/2.png');
  background-color: #EEECE5;
}

.portfolio-card-3 {
  background-image: url('portfolio/3.png');
  background-color: #EEECE5;
}

.portfolio-card-4 {
  background-image: url('portfolio/4.png');
  background-color: #EEECE5;
}

////////////////////////////////////////

@media (max-width: 768px) {
  .project {
    h3 {
      font-size: 1.7em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media (max-width: 450px) {
  .project {
    h3 {
      font-size: 1.5em;
    }
  }
}
