.projects {
  min-height: 85vh;
  margin-bottom: 3em;
  padding-left: 0;
}

.project {
  padding-top: 15vh;
  h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
  .section {
    margin: auto;
  }
}

.planthy-card {
  background-color: white;
}

.rezevent-card {
  background-color: #E2E2E2;
}

.landing-card {
  background-color: #E7E7EF;
}

.todolist-card {
  background-color: #EDE7EF;
}

.portfolio-card {
  background-color: #EEECE5;
}

////////////////////////////////////////

@media (max-width: 768px) {
  .project {
    h3 {
      font-size: 1.7em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media (max-width: 450px) {
  .project {
    h3 {
      font-size: 1.5em;
    }
  }
}
