#skills {
  min-height: 100vh;
}

.skills-card {
  margin: 2em 0;
}

.icones-skills {
  padding-bottom: 1em;
  height: 50px;
}

.logo-notion, .logo-ruby, .logo-rails, .logo-postgre, .logo-heroku, .logo-figma {
  height: 30px;
}
