<header role="banner">
<nav class="desktop nav-desktop">
  <ul class="d-flex p-0">
    </div>
    <li class="nav-desktop">
      <a href="#about">À PROPOS</a>
    </li>
    <li class="nav-desktop">
      <a href="#projects">PROJETS</a>
    </li>
    <li class="div-logo d-flex">
      <a href="" id="logo-letter">M</a>
    </li>
    <li class="nav-desktop">
      <a href="#skills">COMPÉTENCES</a>
    </li>
    <li class="nav-desktop">
      <a href="#contact">CONTACT</a>
    </li>
  </ul>
</nav>

<nav class="mobile position-fixed nav-mobile">
  <div class="div-logo">
    <a href="" id="logo-letter">M</a>
  </div>
  <div>
    <ul class="p-0 d-flex">
      <li class="">
        <a href="#about">À PROPOS</a>
      </li>
      <li class="">
        <a href="#projects">PROJETS</a>
      </li>
      <li class="">
        <a href="#skills">COMPÉTENCES</a>
      </li>
      <li class="">
        <a href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
