<div class="padding-top" id="about">
  <div class="presentation d-flex flex-column">
    <div class="picture mt-3"></div>
    <div class="myself mt-5">
      <h3 class="text-center">Hello world, moi c'est Mélia!</h3>
      <p class="text-center">Après avoir commencé à coder pour le plaisir en 2019, j'ai décidé de suivre une première formation avec Openclassrooms en 2020, principalement en front-end, à la suite de ça, j'ai suivi la formation du Wagon à Nantes en 2021 afin de faire de cette passion mon métier.
        <br>Actuellement développeuse web fullstack Ruby on Rails, je suis à la recherche d'un emploi, et également disponible pour réaliser vos projets de conception et développement d'application web en freelance.
        <br> N'hésitez pas à prendre
        <%= link_to "contact", new_contact_path %> pour échanger, à télécharger
        <%= link_to "mon CV", asset_path("CV_Melia_Mazouzi.pdf"), download: "CV_Melia_Mazouzi" %>, ou à venir me voir sur les réseaux sociaux!</p>
    </div>
  </div>
  <div class="my-social-media text-center pt-3">
    <a href="https://www.linkedin.com/in/melia-mazouzi/" target="_blank"><i class="fab fa-linkedin-in fa-2x fa-reseaux"></i></a>
    <a href="https://github.com/meliamzz" target="_blank"><i class="fab fa-github fa-2x fa-reseaux"></i></a>
  </div>
</div>
