.contact {
  padding-top: 20vh;
  min-width: 85vh;
}
.contact-form {
  height: 100%;
  padding: 3em 1em;
  border: 3px solid white;
  border-radius: 10px;
  .btn {
    background-color: white;
    border-radius: 5px;
  }
  input, .btn, textarea {
    border-radius: 5px;
  }
}
