footer {
  height: 15vh;
  border-top: 1px solid white;
  p {
    text-align: center;
  }
  i {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: #EAE6DF;
  }
}
