.form {
  height: 100%;
  padding: 2em 1em;
  border: 3px solid white;
  border-radius: 10px;
  margin: auto;
  input, textarea {
    border-radius: 5px;
  }
  abbr {
    text-decoration: none;
  }
  label {
    margin-bottom: 0;
  }
  .form-control-file {
    background-color: white;
  }
  h5 {
    text-align: center;
  }
  a {
    color: black;
  }
}
