nav {
  height: 15vh !important;
  position: fixed;
  background-color: #EAE6DF;
  width: 100vw;

  ul {
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .div-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
  }

  li a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif !important;
    &:hover {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
  }
  #logo-letter {
    font-family: 'Gwendolyn', cursive !important;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 4em;
    margin: 0;
    color: black;
    text-shadow: black 3px 3px;
    transition-duration: 1s;
    &:hover {
      transform: rotate(1turn);
    }
  }
}

.mobile {
  .div-logo {
    margin: auto;
    width: 70px;
    height: 70px;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.8em;
      font-family: 'Roboto', sans-serif !important;
    }
  }
  #logo-letter {
    line-height: 70px;
    font-size: 3em;
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile a {
    font-size: 0.8em;
  }
}

@media (min-width:701px) {
  .mobile {
    display: none;
  }
}
