.project-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
  padding: 0 !important;
  margin: 2em auto;
}

.project-card-banner {
  background-size: cover;
}

@media (max-width: 768px) {
  .project-card {
    height: 40vh;
  }
}

@media (max-width: 450px) {
  .project-card {
    height: 30vh;
  }
}
