#skills {
  min-height: 100vh;
  padding-top: 20vh;
}

.skills-card {
  margin-bottom: 2em;
}

.icones-skills {
  padding-bottom: 1em;
  height: 50px;
}

.fa-html5 {
  color: #DB4A26;
}

.fa-css3-alt {
  color: #1293CA;
}

.fa-bootstrap {
  color: #523976;
}

.fa-js-square {
  color: #EFD81A;
}

.fa-react {
  color: #04D1F2;
}

.logo-notion, .logo-ruby, .logo-rails, .logo-postgre, .logo-heroku, .logo-figma {
  height: 30px;
}
