<div class="new-feature padding-top">
  <div class="form col-10 col-sm-7 col-lg-5 mx-auto">
    <%= simple_form_for [ @project, @feature ], class: "pt-5" do |f| %>
    <h4 class>Feature</h4>
      <%= f.input :description, label: "Description" %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Valider", class:"btn-white" %>
    <% end %>
  </div>
</div>
